#footer{
    border-top: 0.2rem solid;
    padding: 1rem;
    display: flex;
    display: -webkit-flex;
    clear: both;
}

#footer p{
    text-align: center;
    flex: 1;
    -webkit-flex: 1;
}

#footer a{
    text-align: center;
    text-decoration: none;
    color: black;
    flex: 1;
    -webkit-flex: 1;
    padding-top: 1rem;
}

#footer a:hover{
    text-decoration: underline;
    color: blue;
}